/*global section css  start*/
*{
	margin: 0;
	padding:0;
	font-family: 'Lato', sans-serif;
}
.contenbar{ width: 1140px;
           margin: 0 auto;
 }

.col-1{width:8.33% ;
	float: left; 
 }
.col-2{width:16.66% ;
	float: left;

     
     }
.col-3{width:25% ;
	float: left;
}
.col-4{width:33.33% ;
	float: left;
}
.col-5{width:41.667% ;
	float: left;
}
.col-6{width:50% ;
     float: left;
 }
.col-7{width:58.333% ; 
         float: left;
 }
.col-8{width:66.667% ;
       float: left;
}
.col-9{width:75% ;
     float: left;
}
.col-10{width:83.333% ;
        float: left;
}
.col-11{width:91.6667% ;
       float: left;
}
.col-12{width:100% ;
       float: left;
}
.rows{
	width:100% ;
}
section{
	float: left;
	width: 100%;
}
/*global section css end*/

/*topbar section css start*/
.topbar{

	height: 80px;
}
.topbar .logo{
		padding: 20px 0;
}
/*topbar section css end*/

/*banner section css start*/
.banner{background: url("../image/banner.png");
              width: 100%;
               height: 700px;
              background-position: center;
              position: relative;
}
.banner .hero-area{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}
.banner h1{
	color: #fff;
	font-size: 120px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom:20px ;
}
.banner .blueline{
	width: 40%;
	background: #15a4fa;
	height: 2px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.banner p{color: white;
	 text-align: center;
	 margin-bottom: 40px;}
.banner .highlight{font-size: 20px;
	           text-transform: uppercase;}
.banner .btn-cta{color: white;
	            text-decoration: none;
	           display: block;
	            margin: 0 auto;
	            border: 1px solid #15a4fa;
	            text-align: center;
	            width: 13%;
	            padding:15px 0px;
	            position: relative;
 }
/* .banner .btn-cta:hover{
 	transition: 0.5s ease-in-out;
 	background:#15a4fa ;
 }*/
  .banner .btn-cta::after{
  	content: "";
  	/*border-right: 2px solid #15a4fa;*/
  	background:#15a4fa ;
  /*	height: 0%;
  	width: 100%;*/
  	height: 100%;
  	width: 0%;
  	position: absolute;
  	top: 0;
  	/*right:0;*/
  	left: 0;
  	/*bottom: 0;*/
  	z-index: -1;
  }
    .banner .btn-cta::before{
  	content: "";
  	/*background:#15a4fa ;*/
  	background: #15a4fa87;
  	/*border-left: 2px solid #15a4fa;*/
  	/*background:green;*/
/*  	height: 0%;*/
      height: 100%;
  	/*width: 100%;*/
  	width: 0%;
  	position: absolute;
  /*	bottom: 0;*/
  	/*right:0;*/
  	top: 0;
  	left: 0;
  	z-index: -1;
  }
  .banner .btn-cta:hover::after{
  	/*transition: 0.5s ease-in-out;*/
  	transition: 2s ease-in-out;
 /* height: 50%;*/
  /*width: 50%;*/
  width: 100%;
  }
  .banner .btn-cta:hover::before{
  	/*transition: 0.5s ease-in-out;*/
  	transition: 1s ease-in-out;
  /*height: 50%;*/
  /*width: 50%;*/
  width: 100%;
  }
/*banner section css end*/

/*about section css start*/
.about{
	padding: 80px 0;
	background: #f6f9f9;
}
.about h2{
	text-align: center;
	color: #2d3950;
	font-size: 40px;
	margin-bottom: 30px;
}
.about p{
	color: #999999;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
}
/*about section css end*/

/*feture section css start*/


.feature{
	padding: 80px 0;
}
.text-center{
	text-align: center;
/*	box-sizing: border-box;*/
}
.feature img{
	margin-bottom: 20px;
}
.feature h3{
	font-size: 22px;
	color: #2d3950;
	margin-bottom: 25px;
}
.feature p{
	color: #999999;
	padding: 0 10%;
	font-size: 15px;
}
/*.feature .box{
	 /*margin: 10px;*/
  border: 1px solid green;
   padding: 10px;

}*/
/*feture section css end*/

/*portfolio section css start*/
 .text-center{
 	text-align: center;
 }

.portfolio {
    padding: 80px 0;
    background: #f6f9f9;
}
.portfolio h2{
	text-align: center;
	color: #2d3950;
	font-size: 40px;
	margin-bottom: 10px;
}
.portfolio p{
	color: #999999;
    font-size: 18px;
    line-height: 1.7;
   padding: 30px;
}
.portfolio .col-4{
	padding: 10px;
	box-sizing: border-box;
}
.portfolio-img{
	position: relative;
	/*padding: 10px;*/
}

.portfolio-img img{
	width: 100%;
}
.portfolio-img .hover-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*width: 0;*/
	background: #2bacfa;
	opacity: 0;
	/*opacity: 1;*/
}
.hover-box p{
	position: absolute;
	top: 50%;
	left:50%;
   transform: translate(-50%,-50%);
}
.portfolio-img:hover .hover-box{
transition: all 0.5s ease-in-out ;
  opacity: 0.7;
  /*width: 100%;*/
}
/*portfolio section css end*/

/*contract section css start*/
.contract{
	padding: 80px 0;
	background: linear-gradient(rgb(45 57 80 / 65%),rgb(45 57 80 / 65%)),url(../image/contract-bg.png);
	background-position: center;
	background-size: cover;
	min-height: 550px;
}


.contract h2 {
    text-align: center;
	/*color: #2d3950;*/
	color: #fff;
	font-size: 40px;
	margin-bottom: 10px;
}
.contract p {
	color: #9999;
    font-size: 18px;
    line-height: 1.7;
 /*  padding: 30px;*/
}
form{
	width: 50%;
	margin: 0 auto;
}
form .form-control{
	width: 100%;
	margin-bottom: 20px;
	background:transparent;
	border: 1px solid #999;
	padding: 12px;
	border-radius: 3px;
	box-sizing: border-box;
}
form textarea{}
input[type="checkbox"]{
       width: 20px;
       height: 20px;
       margin-right: 10px;
}
 form p{
	float: left;
	color: #fff ! important;
	margin-top: 10px;

}
.btn-submit{
         color: #fff;
         text-align: center;
         border: 1px solid #15a4fa; 
         padding: 15px 50px;  
         background: transparent;
         float: right; 
 }
.btn-submit:hover{
	transition: all .5s ease-in-out;
	background: #15a4fa;
}

/*contract section css end*/

/*footer section css start */
 footer{
 	padding: 25px 0;
 	width: 100%;
 	float: left;
 	background: #f6f9f9;
 }
 footer p{
 	margin-top: 12px;
 	color: #9999;
 	font-size: 20px;
 }
 footer .social-icon{
 	float: right;
 }
 footer .social-icon a{
 	background: #15a4fa;
 	color: #fff;
 	display: inline-block;
 	width: 40px;
 	height: 40px;
 	text-align: center;
 	line-height: 40px;
 	border-radius: 50%;
 	margin:0 5px ;
 }
 footer .social-icon a:hover{
 	transition: all 0.5s ease-in-out;
 	border-radius: 0;
}
 footer .social-icon .fab{
 	
 }


 /*footer section  css end */